
[submodule "gateway"]
	path = gateway
	url = https://github.com/cpaciencia/gateway.git
[submodule "users"]
	path = users
	url = https://github.com/cpaciencia/users.git
[submodule "authors"]
	path = authors
	url = https://github.com/cpaciencia/authors.git
